<!--  -->
<div class="yui3-u-1-5" id="nav">
    <div class="content">
        <ul>
            <li><a href="#">lorem ipsum dolor</a></li>
            <li><a href="#">lorem ipsum dolor</a></li>
            <li><a href="#">lorem ipsum dolor</a></li>
            <li><a href="#">lorem ipsum dolor</a></li>
            <li><a href="#">lorem ipsum dolor</a></li>
            <li><a href="#">lorem ipsum dolor</a></li>
            <li><a href="#">lorem ipsum dolor</a></li>
            <li><a href="#">lorem ipsum dolor</a></li>
            <li><a href="#">lorem ipsum dolor</a></li>
        </ul>
    </div>
</div>

<div class="yui3-u-4-5" id="main">
    <div class="content">

<!--  -->

<h2>Csv#import</h2>

<%= form_for :upload, :html => { :multipart => true } do |f| -%>
  <div class="field">
    <%= f.label :lead_source %><br />
    <%= f.text_field :lead_source %>
  </div>
  <div class="field">
    <%= f.label :response_type %><br />
    <%= f.text_field :response_type %>
  </div>
  
  <%= f.file_field :csv %>
  <%= f.submit "Upload", :disable_with => 'Uploading...' %>
<% end -%>
<!--  -->

    </div>
</div>

<!--  -->