<h1>Listing people</h1>
<div id="scrolling_table" style="width:500px;height:800px;overflow:scroll;">
	<% if params[:import_table_id] %>
		<%= search_form_for @search, url: search_import_table_people_path, method: :post do |f| %>
		  <%= f.condition_fields do |c| %>
		    <%= render "condition_fields", f: c %>
		  <% end %>
		  <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
		  <div class="field">
		    Sort:
		    <%= f.sort_fields do |s| %>
		      <%= s.sort_select %>
		    <% end %>
		  </div>
		  <div class="actions"><%= f.submit "Search" %></div>
		<% end %>

	<% else %>
	  <%= search_form_for @search, url: search_people_path, method: :post do |f| %>
	  <%= f.condition_fields do |c| %>
	    <%= render "condition_fields", f: c %>
	  <% end %>
	  <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
	  <div class="field">
	    Sort:
	    <%= f.sort_fields do |s| %>
	      <%= s.sort_select %>
	    <% end %>
	  </div>
	  <div class="actions"><%= f.submit "Search" %></div>
	<% end %>
	
	
	<% end %>	
	
	<%= form_tag edit_multiple_people_path do %>
	
	<table id="people">
	  <tr>
		<th>DQ'ed</th>
	    <th>Lead Source</th>
	    <th>ResponseType</th>
	    <th>first_name</th>
	    <th>last_name</th>
	    <th>company_name</th>
	    <th>job_title</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

		<% @people.each do |person| %>
		  <tr>
			<td><%= check_box_tag "person_ids[]", person.id  %> <%# check_box_tag(:person) %></td>
		    <td><%=h person.lead_source %></td>
		    <td><%=h person.response_type %></td>
		    <td><%=h person.first_name %></td>
		    <td><%=h person.last_name %></td>
		    <td><%=h person.job_title %></td>
		    <td><%=h person.company_name %></td>
		    <td><%=h person.job_title %></td>
		    <td><%= link_to 'Edit', edit_person_path(person) %></td>
		    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>

		  </tr>
		<% end %>
	</table>
		<%= submit_tag "Edit Checked" %>
		
	    
	<% end %>
</div>

<br />

<%= link_to 'New Person', new_person_path %>
