<!--  -->
<div class="yui3-u-1-5" id="nav">
    <div class="content">
        <ul>
            <li>
				<% if params[:import_table_id] %>
						  <%= search_form_for @search, url: search_import_table_people_path, method: :post do |f| %>
							  <div class="field">
								  <%= render :partial => 'disqualified_student_form_fields', 
								  	:locals => { :f => f } 
								  %>
								
								  <%= hidden_field_tag "import_table_id", params[:import_table_id] %>				
							  </div>
						  <div class="actions"><%= f.submit "Find Students" %></div>
						<% end %>
					
				<% else %>
					  <%= search_form_for @search, url: search_people_path, method: :post do |f| %>
						  <div class="field">
								  <%= render :partial => 'disqualified_student_form_fields', 
								  	:locals => { :f => f } 
								  %>
		
						  </div>
			  
					  <div class="actions"><%= f.submit "Find Students" %></div>
					<% end %>
					
				<% end %>

			</li>
            <li>
				<% if params[:import_table_id] %>
						  <%= search_form_for @search, url: search_import_table_people_path(:format => :csv), method: :post do |f| %>
							  <div class="field">
								<%= f.hidden_field :disqualified_not_eq, :value => true %>
								  <%= hidden_field_tag "import_table_id", params[:import_table_id] %>				
							  </div>
						  	  <div class="actions"><%= f.submit "Download qualified people" %></div>
						<% end %>
					
				<% else %>
					  <%= search_form_for @search, url: search_people_path, method: :post do |f| %>
						  <div class="field">
								<%= f.check_box(:disqualified_not_eq, :checked => "checked") %>
								<%= f.label :disqualified_not_eq, "Hide Disqualified" %>
		
						  </div>
			  
					  <div class="actions"><%= f.submit "Find Students" %></div>
					<% end %>
					
				<% end %>
				
			</li>
            <li><a href="#">lorem ipsum dolor</a></li>
            <li><a href="#">lorem ipsum dolor</a></li>
            <li><a href="#">lorem ipsum dolor</a></li>
            <li><a href="#">lorem ipsum dolor</a></li>
            <li><a href="#">lorem ipsum dolor</a></li>
            <li><a href="#">lorem ipsum dolor</a></li>
            <li><a href="#">lorem ipsum dolor</a></li>
            <li><a href="#">lorem ipsum dolor</a></li>
        </ul>
    </div>
</div>

<div class="yui3-u-4-5" id="main">
    <div class="content">

<!--  -->
<h1>Listing people</h1>
<%# link_to 'Advanced mode', advanced_search_people_path %>

	<% if params[:import_table_id] %>
		<%= search_form_for @search, url: search_import_table_people_path, method: :post do |f| %>
		  <%= f.condition_fields do |c| %>
		    <%= render "condition_fields", f: c %>
		  <% end %>
		  <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
		  <div class="field">
		    Sort:
		    <%= f.sort_fields do |s| %>
		      <%= s.sort_select %>
		    <% end %>
		  </div>
		  <div class="actions"><%= f.submit "Search" %> | 
		  </div>
		<% end %>

	<% else %>
	  <%= search_form_for @search, url: search_people_path, method: :post do |f| %>
	  <%= f.condition_fields do |c| %>
	    <%= render "condition_fields", f: c %>
	  <% end %>
	  <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
	  <div class="field">
	    Sort:
	    <%= f.sort_fields do |s| %>
	      <%= s.sort_select %>
	    <% end %>
	  </div>
	  <div class="actions"><%= f.submit "Search" %>
	</div>
	<% end %>
	
	
	<% end %>	
		
	<%= form_tag edit_multiple_people_path do %>
	  <%= hidden_field_tag "import_table_id", params[:import_table_id] %>				
		
	<div id="scrolling_table" style="width:775px;height:300px;overflow:scroll;">
	
	<table id="people">
	  <tr>
		<th>&nbsp;</th>
	    <th>Lead Source</th>
	    <th>ResponseType</th>
	    <th>first_name</th>
	    <th>last_name</th>
	    <th>company_name</th>
	    <th>job_title</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	  </tr>

		<% @people.each do |person| %>
		  <tr>
			<td><%= check_box_tag "person_ids[]", person.id  %></td>
		    <td><%=h person.lead_source %></td>
		    <td><%=h person.response_type %></td>
		    <td><%=h person.first_name %></td>
		    <td><%=h person.last_name %></td>
		    <td><%=h person.company_name %></td>
		    <td><%=h person.job_title %></td>
		    <td><%= link_to 'Edit', edit_person_path(person) %></td>
		    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>

		  </tr>
		<% end %>
	</table>
	</div>
	
		<%= submit_tag "Edit Checked" %>
		
	    
	<% end %>

<br />

<%= link_to 'New Person', new_person_path %>

<!--  -->

    </div>
</div>

<!--  -->